.custom-header {
  --background: #000; /* Fondo negro */
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.custom-title {
  text-align: center; /* Centrar el texto */
  color: white; /* Color del texto blanco */
  font: italic;
}
