<ion-header>
  <ion-toolbar class="custom-header">
    <ion-title class="custom-title">Select a table</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        *ngFor="let t of tables"
        size="4"
        class="grid-cell"
        [ngStyle]="{ 'background-color': t.availability ? '#eeeeee' : '#ff4d4d' }"
      >
        <div class="image-container" (click)="gotoDishes()">
          <img src="assets/img/chair.svg" alt="" />
          <div class="centered-number">{{ t.number }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
